{% extends 'base.html' %}

{% block body %}
{% for transaction in transactions %}
<div class="mt-3">
    <div class="card text-center">
        <div class="card-header">
            Transaction
        </div>
        <div class="card-body">
            <h3 class="card-title">Order</h3>
            <h5 class="card-text">Product Name: {{ transaction["product name"] }}</h5>
            <h5 class="card-text">Product Quantity: {{ transaction["quantity"] }}</h5>
            <h5 class="card-text">total price: {{ transaction["total price"] }}</h5>

            <h3 class="card-title">Customer</h3>
            <h5 class="card-text">Customer Name: {{ transaction["customer name"] }}</h5>
            <h5 class="card-text">Customer Email: {{ transaction["customer email"] }}</h5>
            <h5 class="card-text">Customer Contact: {{ transaction["customer contact"] }}</h5>
            <a href="#" class="btn btn-success">Complete</a>
            <a href="#" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}